<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>KAB. PEMALANG_Pemalang_Widuri_PENGGANTI</title>
    <style type="text/css">
      @media print {
        .no-print {
          display: none !important;
        }
      }

      @page {
        size: A4 landscape;
        margin: 0.1in;
      }
      p {
        line-height: 100%;
        text-align: left;
        orphans: 2;
        widows: 2;
        margin: 4px 2px; /* Remove extra margin on <p> */
        padding: 0; /* Remove extra padding on <p> */
        line-height: 1.2; /* Adjusts the height of the text */
        direction: ltr;
        background: transparent;
        font-language-override: id-ID;
        font-family: Arial, Helvetica, sans-serif;
      }
      p.heading {
        font-size: 12pt;
        text-align: center;
      }
      p.normal {
        font-size: 10pt;
        text-align: justify;
      }
      p.centered {
        text-align: center;
      }
      p.no_margin {
        margin: 0px 4px;
      }
      p.table_heading {
        font-size: 10pt;
        text-align: center;
        font-weight: bold;
      }
      p.footnote {
        font-size: 8pt;
        text-align: justify;
      }
      table {
        width: 100%;
        border-collapse: collapse; /* Ensures no border space between cells */
        border-spacing: 0; /* Ensures no space between cells */
      }

      table .visible_border {
        border: 1px solid #000000;
      }

      table .no_border {
        border: none;
      }

      td {
        padding: 4px 0; /* Controls vertical space inside each cell */
        margin: 0; /* Ensures no extra margin */
        vertical-align: top; /* Aligns content to the top */
      }
    </style>
  </head>
  <body><table width="100%" style="break-before: page">
      <colgroup>
        <col width="42*" />
        <col width="87*" />
        <col width="87*" />
        <col width="41*" />
      </colgroup>
      <tbody>
        <tr>
          <td rowspan="4" width="20%" height="43" valign="top" class="centered">
            <p class="normal centered">
              <img
                src="http://127.0.0.1:5500/Logo-BULOG_colored.svg"
                alt="Bulog"
                style="
                  max-height: 100%;
                  max-width: 100%;
                  width: 175px;
                  height: 125px;
                  object-fit: contain;
                "
              />
            </p>
          </td>
          <td colspan="2" width="60%">
            <p class="heading">
              <b>LAMPIRAN BERITA ACARA SERAH TERIMA (BAST)</b>
            </p>
            <p class="heading">
              <b>PENERIMA BANTUAN PANGAN PENGGANTI TAHUN 2025</b>
            </p>
          </td>
          <td rowspan="4" width="20%" height="43" valign="top" class="centered">
            <p class="normal centered">
            <img src="https://quickchart.io/qr?text=BAST-2025113327081019&ecLevel=H&size=400&margin=0"
                style="
                    max-height: 100%;
                    max-width: 100%;
                    width: 96px;
                    height: 96px;
                  "/>  
            <br />
            </p>
            <p class="centered" style="font-size: 10px">
              <b>BAST-2025113327081019</b>
            </p>
          </td>
        </tr>
        <tr>
          <td class="no_border">
            <p class="normal no_margin">Provinsi: JAWA TENGAH</p>
          </td>
          <td class="no_border">
            <p class="normal no_margin">Kecamatan: Pemalang</p>
          </td>
        </tr>
        <tr>
          <td class="no_border">
            <p class="normal no_margin">Kota/Kab: KAB. PEMALANG</p>
          </td>
          <td class="no_border">
            <p class="normal no_margin">Kelurahan/Desa: Widuri</p>
          </td>
        </tr>
        <tr>
          <td class="no_border">
            <p class="normal no_margin">Alokasi Bulan: Juni - Juli</p>
          </td>
          <td class="no_border">
              <p class="normal no_margin">Halaman: 1 / 1</p>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <table class="visible_border" width="100%" cellpadding="7" cellspacing="0">
      <colgroup>
        <col width="3%" />
        <col width="8%" />
        <col width="20%" />
        <col width="20%" />
        <col width="10%" />
        <col width="20%" />
        <col width="10%" />
        <col width="9%" />
      </colgroup>
      <thead>
        <tr class="visible_border" style="vertical-align: top">
          <td rowspan="2" class="visible_border">
            <p class="table_heading">No.</p>
          </td>
          <td rowspan="2" class="visible_border" width="6%">
            <p class="table_heading">No. Urut PBP</p>
          </td>
          <td rowspan="2" class="visible_border">
            <p class="table_heading">Nama PBP Awal</p>
          </td>
          <td colspan="3" class="visible_border">
            <p class="table_heading">PBP Pengganti</p>
          </td>
          <td rowspan="2" class="visible_border">
            <p class="table_heading">Sebab Penggantian*</p>
          </td>
          <td rowspan="2" class="visible_border">
            <p class="table_heading">TTD PBP Pengganti</p>
          </td>
        </tr>
        <tr class="visible_border">
          <td class="visible_border">
            <p class="table_heading">Nama</p>
          </td>
          <td class="visible_border" width="12.5%">
            <p class="table_heading">NIK</p>
          </td>
          <td class="visible_border" width="12.5%">
            <p class="table_heading">Alamat</p>
          </td>
        </tr>
      </thead>
      
        <tr class="visible_border" style="height: 24px">
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
              <p class="normal no_margin"></p>
            </td>
            <td class="visible_border"></td>
        </tr>
  
        <tr class="visible_border" style="height: 24px">
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
              <p class="normal no_margin"></p>
            </td>
            <td class="visible_border"></td>
        </tr>
  
        <tr class="visible_border" style="height: 24px">
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
              <p class="normal no_margin"></p>
            </td>
            <td class="visible_border"></td>
        </tr>
  
        <tr class="visible_border" style="height: 24px">
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
              <p class="normal no_margin"></p>
            </td>
            <td class="visible_border"></td>
        </tr>
  
        <tr class="visible_border" style="height: 24px">
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
              <p class="normal no_margin"></p>
            </td>
            <td class="visible_border"></td>
        </tr>
  
        <tr class="visible_border" style="height: 24px">
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
              <p class="normal no_margin"></p>
            </td>
            <td class="visible_border"></td>
        </tr>
  
        <tr class="visible_border" style="height: 24px">
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
              <p class="normal no_margin"></p>
            </td>
            <td class="visible_border"></td>
        </tr>
  
        <tr class="visible_border" style="height: 24px">
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
              <p class="normal no_margin"></p>
            </td>
            <td class="visible_border"></td>
        </tr>
  
        <tr class="visible_border" style="height: 24px">
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
              <p class="normal no_margin"></p>
            </td>
            <td class="visible_border"></td>
        </tr>
  
        <tr class="visible_border" style="height: 24px">
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
              <p class="normal no_margin"></p>
            </td>
            <td class="visible_border"></td>
        </tr>
  
        <tr class="visible_border" style="height: 24px">
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
              <p class="normal no_margin"></p>
            </td>
            <td class="visible_border"></td>
        </tr>
  
        <tr class="visible_border" style="height: 24px">
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
              <p class="normal no_margin"></p>
            </td>
            <td class="visible_border"></td>
        </tr>
  
        <tr class="visible_border" style="height: 24px">
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
              <p class="normal no_margin"></p>
            </td>
            <td class="visible_border"></td>
        </tr>
  
        <tr class="visible_border" style="height: 24px">
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
              <p class="normal no_margin"></p>
            </td>
            <td class="visible_border"></td>
        </tr>
  
        <tr class="visible_border" style="height: 24px">
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
              <p class="normal no_margin"></p>
            </td>
            <td class="visible_border"></td>
        </tr>
  
        <tr class="visible_border" style="height: 24px">
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
              <p class="normal no_margin"></p>
            </td>
            <td class="visible_border"></td>
        </tr>
  
        <tr class="visible_border" style="height: 24px">
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
              <p class="normal no_margin"></p>
            </td>
            <td class="visible_border"></td>
        </tr>
  
        <tr class="visible_border" style="height: 24px">
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
                <p class="normal no_margin"></p>
            </td>
            <td class="visible_border">
              <p class="normal no_margin"></p>
            </td>
            <td class="visible_border"></td>
        </tr>
  </table></body></html>